/* Variables */
$capcoPrimary: #C00D0D;
$capcoSecondary: #4c4c4c;

$white: #fff;
$light-gray: #ddd;
$dark-gray: $capcoSecondary;
$black: #000;

$gutter-sm: 5px;
$gutter-md: 10px;

$border-style: 2px solid $dark-gray;
$box-shadow-style: 0px 0px 18px -2px $black;


/* Styles */
* { box-sizing: border-box; }

html, body { overflow: auto; }

body {
  font-family: 'Courier New', monospace;
  margin: 0;
}

table {
  border: none;
  border-spacing: 0px;

  tr {
    &:nth-child(even) { background-color: $white; }
    &:nth-child(odd) { background-color: $light-gray; }

    &.display-header {
      position: fixed;
      box-shadow: 0px 2px 14px -4px $black;
    }
    &.hidden-header { visibility: hidden; }

    &:nth-last-child(2) > td { border-bottom: $border-style; }
    &.spacer-row { height: 60px; }
  }

  th, td {
    border-right: $border-style;
    padding: $gutter-md;
    white-space: nowrap;
    &:first-child { border-left: $border-style; }
  }

  th {
    border-top: $border-style;
    border-bottom: $border-style;
  }

  tfoot {
    background-color: $capcoPrimary;
    bottom: 0;
    box-shadow: 0px 0px 18px -4px $black;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;

    p, select { float: left; }

    .pagination {
      span { cursor: pointer; }
    }
  }
}
