/* You can add global styles to this file, and also import other style files */
$capcoPrimary: #C00D0D;
$capcoSecondary: #4c4c4c;

$white: #fff;
$light-gray: #ddd;
$dark-gray: $capcoSecondary;
$black: #000;

$gutter-sm: 5px;
$gutter-md: 10px;

$border-style: 2px solid $dark-gray;

* { box-sizing: border-box; }
body { margin: 0; }

table {
  border: none;
  border-spacing: 0px;

  tr {
    &:nth-child(even) { background-color: $white; }
    &:nth-child(odd) { background-color: $light-gray; }

    &.display-header { position: fixed; }
    &.hidden-header { visibility: hidden; }
  }

  th, td {
    white-space: nowrap;
    padding: $gutter-sm $gutter-md;
    border-right: $border-style;
    &:first-child { border-left: $border-style; }
  }

  th {
    border-top: $border-style;
    border-bottom: $border-style;
  }

  tfoot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $capcoPrimary;

    p, select { float: left; }

    .pagination {
      span { cursor: pointer; }
    }
  }

}
